.CardMeetup{
    display: flex;
    justify-content: flex-start;
    background-color: #c4c4c4;
   
    padding-block: 20px;
    width: 1330px;
    margin-left: 10px;
    padding-left: 10px;
    margin-right: -10000px;
    margin-top: 10px;
    
   
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
    
}
.CardMeetup2{
    padding-left: 30px;
}

